{% extends 'basepages.html' %}
{% load static %}
{% block content %}
<div class="addreviews" >
    <section class="page-section" id="addlandlord">
        <div class="container" style="background-color: white">
            <br>
            <div class="row text-center">
                <br><br>
                <h1 style="font-family: Helvetica;">Add Landlord</h1>
                <p></p>
                <br>
                <h4 style="font-family: Helvetica; color:green">If your landlord is in the list below, click next.</h4>
                <br><br>
                <div class="container">
                    <br>
                    {% for land in landies %}
                    <li style="font-family: Helvetica; color:gray; font-size:18px">{{ land.management_company }}</li>
                    {% endfor %}
                    <br><br>
                    <a class="btn btn-primary" href="{% url 'addproperty' %}" style="background-color: black">Next</a>
                    <br><br>
                </div>
                <div class="container">
                <br><br><br><br>
                <h4 style="font-family: Helvetica; color:green">If not, please add a new landlord here.</h4>
                <br><br>
                    <form class="text-muted" method="post" action="{% url 'addproperty' %}">
                        {% csrf_token %}
                        <label for="firstName">Landlord First Name
                        <input type="text" id="firstName" name="firstName" maxlength="30" width="75px"></label><br><br>
                        <label for="lastName">Landlord Last Name
                        <input type="text" id="lastName" name="lastName" maxlength="30" width="75px"></label><br><br>
                        <label for="mancomp">Management Company
                        <input type="text" id="mancomp" name="mancomp" maxlength="60" width="75px"></label><br><br>
                        <button type="submit" class="btn btn-primary" style="background-color: black">Create New</button>
                    </form>
                </div>
                <br>
            </div>
            <br>
        </div>
    </section>
</div>
{% endblock %}