{% extends 'basepages.html' %}
{% load static %}
{% block content %}
<!-- <header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="font-style: bold">Edit Review</div>
    </div>
</header>
<section class="page-section" id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <br><br>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#ffad33"></i>
                    <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                </span> -->
            <div class="viewreviews">
                <div class="container" style="background-color: white">
                    <div class="row text-center">
                        <h1 class="my-3">Edit Your Rating</h1>
                        <p></p>
                        <form class="text-muted" name="form" method="post" action="{% url 'update' %}">
                            {% csrf_token %}
                            <input type="hidden" id="editid" name="editid" value="{{rate.id}}"></input> <!--change this maybe -->
                            <label>Rating</label>
                            <input type="number" id="rating" name="rating" width="75px" value="{{rate.rating}}"><br><br> 
                            <label for="propertycondition" style="text-align: left;">Property Condition
                                <select name="propertycondition" id="propertycondition" width="75px">
                                    <option {% if rate.property_condition == "Great" %}selected{% endif %} value="Great">Great</option>
                                    <option {% if rate.property_condition == "Good" %}selected{% endif %} value="Good">Good</option>
                                    <option {% if rate.property_condition == "Okay" %}selected{% endif %} value="Okay">Okay</option>
                                    <option {% if rate.property_condition == "Poor" %}selected{% endif %} value="Poor">Poor</option>
                                    <option {% if rate.property_condition == "Terrible" %}selected{% endif %} value="Terrible">Terrible</option>
                                </select>
                            </label>
                            <br><br>
                            <label>Poor Management</label>
                            <input type="checkbox" id="poormanagement" name="poormanagement" {% if rate.poor_management == True or rate.poor_management == "true" %}checked{% endif %}><br><br>
                            <label>Hidden Fees</label>
                            <input type="checkbox" id="hiddenfees" name="hiddenfees" {% if rate.hidden_fees == True or rate.hidden_fees == "true" %}checked{% endif %}><br><br>
                            <label>Lack of Privacy</label>
                            <input type="checkbox" id="privacy" name="privacy" {% if rate.lack_of_privacy == True or rate.lack_of_privacy == "true" %}checked{% endif %}><br><br>
                            <label>Unreturned Funds</label>
                            <input type="checkbox" id="funds" name="funds" {% if rate.unreturned_funds == True or rate.unreturned_funds == "true" %}checked{% endif %}><br><br>
                            <label>Utility Issues</label>
                            <input type="checkbox" id="utilities" name="utilities" {% if rate.utilities == True or rate.utilities == "true" %}checked{% endif %}><br><br>
                            <label>Safety Concerns</label>
                            <input type="checkbox" id="safety" name="safety" {% if rate.safety_concerns == True or rate.safety_concerns == "true" %}checked{% endif %}><br><br>
                            <label>Appliance Issues</label>
                            <input type="checkbox" id="appliances" name="appliances" {% if rate.appliance_issues == True or rate.appliance_issues == "true" %}checked{% endif %}><br><br>
                            <label>Mold</label>
                            <input type="checkbox" id="mold" name="mold" {% if rate.mold == True or rate.mold == "true" %}checked{% endif %}><br><br>
                            <label>Pests</label>
                            <input type="checkbox" id="pests" name="pests" {% if rate.pests == True or rate.pests == "true" %}checked{% endif %}><br><br>
                            <label>Neighborhood Problems</label>
                            <input type="checkbox" id="neigh" name="neigh" {% if rate.neighborhood_problems == True or rate.neighborhood_problems == "true" %}checked{% endif %}><br><br>
                            <label>Parking</label>
                            <input type="checkbox" id="parking" name="parking" {% if rate.parking == True or rate.parking == "true" %}checked{% endif %}><br><br>                    
                            <label>Bad Contracts</label>
                            <input type="checkbox" id="badcont" name="badcont" {% if rate.bad_contracts == True or rate.bad_contracts == "true" %}checked{% endif %}><br><br>
                            <label>Change in Rent</label>
                            <input type="checkbox" id="rent" name="rent" {% if rate.change_in_rent == True or rate.change_in_rent == "true" %}checked{% endif %}><br><br>        ​
                            <label>Other Notes</label>
                            <textarea id="othernotes" name="othernotes" maxlength="1000" width="200px" height="200px" value="{{rate.other_notes}}">{{rate.other_notes}}</textarea><br><br>            
                            <button type="submit" class="btn btn-primary">Submit Changes</button><br><br>
                        </form>
                    </div>
                </div>
            </div>
            <!-- </div>
        </div>
    </div>
</section> -->
{% endblock %} 