{% extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase" style="color: white;">Rate My Landlord</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                
            </div>
        </div>
    </div>
</header>
<!-- About-->
<!-- <section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Know before you sign</h2>
                <p class="text-white-50" style="color: white">
                    Learn more about your future home, and the owner before you sign the lease.
                </p>
            </div>
        </div>
        <img class="img-fluid" src={% static "assets/img/ipad.png" %} alt="..." />
    </div>
</section> -->
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <!-- <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src={% static "assets/img/bg-masthead.jpg" %} alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Shoreline</h4>
                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                    <a class="btn btn-primary" href={% url "viewreviews" %}>Reviews</a>
                </div>
            </div>
        </div> -->
        <!-- Project one Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src={% static "assets/img/landlord.jpg" %} alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white" style="font-family: Helvetica;">All Property Ratings</h4>
                            <p class="mb-0 text-white-50" style="font-family: Helvetica;">Access all available reviews for properties in Utah County so that you can make the most informed decision about your next residence! </p>
                            <br>
                            <a class="btn btn-primary" style="color:black;background-color: white" href={% url "viewreviews" %}>View Now</a>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src={% static "assets/img/suburbanhouse.jpg" %} alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white" style="font-family: Helvetica;">Submit Your Rating</h4>
                            <p class="mb-0 text-white-50" style="font-family: Helvetica;">Submit a review and rate your current or past properties for others to view.</p>
                            <br>
                            <a class="btn btn-primary" style="color:black;background-color: white" href={% url "addlandlord" %}>Rate Your Landlord Now</a>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">624 S 400 E Orem, Utah</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">ratemylandlord@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100" >
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (801) 473-2515</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>-->
    </div>
</section>

{% endblock %}